<script type="text/javascript">
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

  })
</script>
<div id="post_editor">
<%= form_for @post, remote: true do |p| %>
    <%  if @post.errors.any? %>
    <hr>
        <h2>List of Errors:</h2>
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        <p>Try again</p>
        <hr>
    <% end %>
    <p>Print name</p>
    <p><%= p.text_field :name %></p>
    <p>Print message</p>
    <p><%= p.text_area :text, class: 'wysihtml5', rows: "10", cols: "84" %></p>
    <p><%= p.submit 'Save' %></p>
<% end %>
</div>
